{% extends 'base.html' %}

 
{% block title %}模特信息{% endblock %}
{%block nav_moko%}class="active"{%endblock%}
{% block content %}
<div class="row">
  <div class="col-md-2 col-xs-0 col-sm-0 col-lg-2"> </div>
  <div class="col-md-8 col-xs-12 col-sm-12 col-lg-8">
    <div>姓名：{{mtinfo.uname}}
编号：{{mtinfo.uid}}
身高：{{mtinfo.shengao}}
体重：{{mtinfo.zhongliang}}
胸围：{{mtinfo.xiongwei}}
腰围：{{mtinfo.yaowei}}
臀围：{{mtinfo.tunwei}}
头发颜色：{{mtinfo.fase}}
眼睛颜色：{{mtinfo.yanjing}}
    </div>
    <div>
{% for item in mtpic%}
    <img src="{{item.picurl}}" alt="{{mtinfo.uname}}" style="max-width:560px;"/>
{% endfor %}    
    </div>
  </div>
  <div class="col-md-2 col-xs-0 col-sm-0 col-lg-2"> </div>
</div>
<div class="row">
<div class="col-md-3 col-xs-1 col-sm-1 col-lg-3"> </div>
<div class="col-md-6 col-xs-11 col-sm-11 col-lg-6">资料来源于互联网，如有侵权请联系<a href="mailto:i#lichanghai.cn">i#lichanghai.cn</a>删除 </div>
<div class="col-md-3 col-xs-1 col-sm-1 col-lg-3"> </div>
</div>
{% endblock %}
