{% extends 'shici.html' %}
{%block title%}瑰丽古诗词-{{txt.title}}{%endblock%}
{%block body%}<body> {%endblock%}
{% block content %}
<div class="row" style="margin-top:10px;" >
 <div class="col-md-2 col-xs-0 col-sm-0 col-lg-2"> </div>

<div class="col-md-8 col-xs-12 col-sm-12 col-lg-8" style="font-family:Arial;">
<div class="row" style="text-align:center;"><h2>{{txt.title}}</h2></div>
<div class="row" ><h3>{%autoescape off %}{{txt.content}}{%endautoescape%}</h3></div>
</div>
<div class="col-md-2 col-xs-0 col-sm-0 col-lg-2"> </div>
</div>
{%endblock%}
